<style>
    .dp-icon-home {
        color: black;
        font-size: 18px;
    }
    .dp-icon-aboutme {
        font-size: 40px;
    }
    .dp-outerdiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 700px;
    }
    .dp-questions {
        border-style: solid;
        border-color: #000f71;
        padding: 10px;
        border-radius: 5px;
    }
    .dp-question-text {
    top-margin: 20px;
    }
</style>
<div>
    <i class="icon-home dp-icon-home"></i><span>Profile</span>
</div>
<div class="dp-outerdiv">
    <i class="icon-bf-1-about-me dp-icon-aboutme"></i>
    <div>
        <span>Profile</span>
        <p>Please answer the questions below to define your profile:</p>
        <div class="dp-questions">
            <div>Are you autistic?</div>
            <input type="checkbox"><span>&nbsp;&nbsp;YES&nbsp;&nbsp;</span><input type="checkbox"><span>&nbsp;&nbsp;NO&nbsp;&nbsp;</span>
            <div class="dp-question-text">Are you the carer of an autistic person?</div>
            <input type="checkbox"><span>&nbsp;&nbsp;YES&nbsp;&nbsp;</span><input type="checkbox"><span>&nbsp;&nbsp;NO&nbsp;&nbsp;</span>
            <div>Do you have any other neurodivergences?</div>
            <input type="checkbox"><span>&nbsp;&nbsp;YES&nbsp;&nbsp;</span><input type="checkbox"><span>&nbsp;&nbsp;NO&nbsp;&nbsp;</span>
        </div>

    </div>
</div>