<style>
.footer-top {
    background-color: #203467 !important;
}

.footer-bottom {
    background-color: #454545 !important;
}


.pnospace {
    margin: 0;
    padding: 15px;
    font-size: 40px;
    line-height: 60px;
}

.copyrt {
    font-size: 12px;
    padding: 16px;
    color: #C2ECF2;
}
</style>
<footer class="footer">
     <p class="footer-top pnospace">&nbsp;</p>
     <div class="footer-bottom text-center">
        <p class="copyrt"><strong>&copy; Copyright 2020</strong></p>
    </div>
</footer>
