<style>
    td, th {
        border: 1px solid grey;
    }
    td {
        color: grey;
    }
    thead {
        color: white;
        background-color: navy;
    }
    table {
        border-collapse: collapse;
    }
    .mone-tick {
        color: green;
        padding: 4px 0 0 2em;
    }
    .mone-cross {
        color: red;
        padding: 4px 0 0 2em;
    }
    .mone-mod {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70px;
    }
    .mone-butsub {
        background-color: orange;
        color: white;
        border-radius: 5px;
        border-color: orange;
    }
    .mone-cb {
        border: none;
        background-color: white;
    }
    .mone-resp {
        padding: 0 1em 0 1em;
    }
    .mone-respbb {
        padding-bottom: 1em;
    }
    .mone-bs {
        padding: 8px 0 1em 1em;
    }
</style>
<table>
    <thead>
        <tr>
            <th class="mone-cb"></th>
            <th>User ID</th>
            <th>Event ID</th>
            <th>Date</th>
            <th>Event(What)
            <th>Location (Where)</th>
            <th>Liked to be Different</th>
            <th>Summary</th>
            <th colspan="2">Moderation</th>
        </tr>
    </thead>
    <tbody>
        {% for trow in MONE_data %}
        <tr>
            <td class="mone-cb"><input type="checkbox"></td>
            <td>{{trow.UID}}</td>
            <td>{{trow.EID}}</td>
            <td>{{trow.date}}</td>
            <td>{{trow.Event_What}}</td>
            <td>{{trow.Location_Where}}</td>
            <td>{{trow.LikeToBeDifferent}}</td>
            <td>{{trow.Summary}}</td>
            <td>
                <div class="mone-mod">
                    <span class="fas fa-check mone-tick"><input type="radio" name="{{trow.EID}}"></span>
                    <span class="mone-resp"><a href="#">Respond</a></span>
                    <span class="mone-bs"><button type="button" class="mone-butsub">Submit</button></span>
                </div>
            </td>
            <td>
                <div class="mone-mod">
                    <span class="fas fa-times mone-cross"><input type="radio" name="{{trow.EID}}"></span>
                    <span class="mone-resp mone-respbb"> <a href="#">Respond</a></spanclass>
                    <span class="mone-nbs">&nbsp</span>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
