    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center logo on mobile --></span>
            <a class="navbar-brand d-none d-lg-inline-block" href="#">
                {% include 'components/autistica_logo.html' %}
            </a>
            <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
                {% include 'components/autistica_logo.html' %}
            </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">Share</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item nav-active">View</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">MyData</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">Settings</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item">Login</a>
                </li>
            </ul>
        </div>
    </nav>