venv
*.pyc
staticfiles
.env
.env.staging
.ipynb_checkpoints
twitter_archive/
db.sqlite3
dump.rdb
.DS_Store
.coverage

# Jetbrains
.idea
.idea_modules
out/

# CMake
cmake-build-*/

# File-based project format
*.iws

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
