venv
*.pyc
staticfiles
.env
.env.staging
.ipynb_checkpoints
twitter_archive/
db.sqlite3
dump.rdb
.DS_Store
.coverage
.idea/autistica-filemanagement-demo.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/vcs.xml
.idea/workspace.xml
