[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "3.8"

[packages]
django = "*"
django-heroku = "*"
django-open-humans = "*"
gunicorn = "*"
vcrpy = "*"
requests-mock = "*"
coverage = "*"
psycopg2-binary = "*"
