.banner-autistica-light-blue {
    background-color: #DFECF9 !important;
    color: #3d65b1 !important;
}

.nav-link {
    color: #203467 !important;
}

h1 {
    color: #1b77db !important;
}

.autistica-jumbotron {
    border-radius: 15px !important;
    background-color: white !important;
    border-color: #3d65b1 !important;
    border-width: 3px;
    border-style: solid;
    padding: 2rem 1rem;
}