.navbar-autistica-blue {
    background-color: #1f3369 !important;
}
.navbar-autistica-grey {
    background-color: #444444 !important;
}
.pnospace {
    margin:0;
    padding:0;
    font-size:20px;
    line-height:40px;
}
.divnospace {
    margin:0;
    padding:0;
}
.copyright {
    font-size:13px !important;
}