.navbar-autistica-blue {
    background-color: #1f3369 !important;
}

.navbar-autistica-grey {
    background-color: #444444 !important;
}

.footer-top {
    background-color: #203467 !important;
}

.footer-bottom {
    background-color: #454545 !important;
}


.pnospace {
    margin: 0;
    padding: 15px;
    font-size: 40px;
    line-height: 60px;
}

.copyrt {
    font-size: 12px;
    padding: 16px;
    color: #C2ECF2;
!important;
}

.banner-autistica-light-blue {
    background-color: #DFECF9 !important;
    color: #3d65b1 !important;
}

.nav-link {
    color: #203467 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #1b77db !important;
}

.autistica-jumbotron {
    border-radius: 5px !important;
    background-color: white !important;
    border-color: #3d65b1 !important;
    border-width: 3px;
    border-style: solid;
    padding: 2rem 1rem;
}

.autistica-card {
    border-radius: 5px !important;
    background-color: white !important;
    border-color: #3d65b1 !important;
    border-width: 3px;
    border-style: solid;
}