<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ config.project_title |default:"My Open Humans Project" }}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="/static/css/fa/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap"
          rel="stylesheet">
    <!--<link rel="stylesheet" href="{% static "css/ico-style.css" %}">-->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
<!--    <script src="https://kit.fontawesome.com/e8821c0857.js" crossorigin="anonymous"></script>-->

    <link rel="icon" type="image/png"
          href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css' %}">

</head>

<body>
    <a name=""top"></a>
    <div class="container-lg px-1">

    <!-- Static navbar -->
    {% include 'main/../components/navbar.html' %}

    {% load userJourney %}
    <form id="stepper" method="POST">{% csrf_token %}
        {% display_user_journey request.session.activeStepper stepper %}
    </form>

    <a href="/home"><i class="icon-home" style="font-size: 25px;"></i></a><span>&nbsp;&nbsp;Share&nbsp;&nbsp;</span><i class="icon-label-24px"></i>
    <span>&nbsp;Where users can enter their experiences</span>
    <!-- Footer -->
    {% include 'main/../components/footer.html' %}

</div> <!-- /container -->
</body>
</html>
