{% extends 'main/application.html' %}

{% block content %}

<h2>Upload your data</h2>

<form method="post" action="{% url 'upload' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="experience">Enter your experience</label>
    <textarea type="textarea" rows="5" class="form-control" id="experience" name="experience" placeholder="Your experience can be entered here"></textarea>
  </div>

  <div class="form-check">
    <input class="form-check-input" name='research' type="checkbox" value="research" id="research">
    <label class="form-check-label" for="research">
      Can be used for Research
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" name='viewable' type="checkbox" value="viewable" id="viewable">
    <label class="form-check-label" for="viewable">
      Is viewable by others
    </label>
  </div>

  <input class="btn btn-primary" type="submit" value="Share your Experience">
</form>

<p class="lead">
  A word of warning: <strong>This uploader does not work well for large files.</strong>
  If an upload takes longer than 30 seconds to finish the website may time out.
</p>

{% endblock %}
