{% load filters %}

<style>
    .step {
        display: inline-block;
        padding: 15px;
    }

    .stepCircle {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        text-align: center;
        margin: 5px;
    }

    .stepCircle.completed {
        background-color: green;
        color: white;
    }

    .stepCircle.active {
        background-color: blue;
        color: white;
    }

    .stepCircle.blocked {
        background-color: gray;
        color: white;
    }
</style>

<form id="stepper" method="POST">{% csrf_token %}
    {% if request.session.activeStepper|next_stepper == stepper|length|next_stepper %}
        <input type="hidden" id="nextStep" name="nextStep" value="end">
        <p> last step </p>
    {% elif request.session.activeStepper == 'end' %}
        <input type="hidden" id="nextStep" name="nextStep" value="done">
    {% else %}
        <input type="hidden" id="nextStep" name="nextStep" value="{{ request.session.activeStepper|next_stepper }}">
    {% endif %}

    {% if request.session.activeStepper == 'end' %}
        <p>Finished</p>
    {% else %}

        <span><</span>
        {% for step in stepper %}
            <div class="step">
                {% if request.session.activeStepper == forloop.counter %}
                    <span class="stepCircle active">{{ step.id }}</span>
                {% elif request.session.activeStepper > forloop.counter %}
                    <span class="stepCircle completed">{{ step.id }}</span>
                {% elif request.session.activeStepper < forloop.counter %}
                    <span class="stepCircle blocked">{{ step.id }}</span>
                {% endif %}
                <span class="stepLabel">{{ step.label }}</span>
            </div>
            {% if forloop.counter < stepper|length %}
                <span style="height: 2px; width: 35px; display: inline-block; margin-bottom: 3px; background-color:black"></span>
            {% endif %}
        {% endfor %}
        <span>></span>
        {% if request.session.activeStepper|next_stepper == stepper|length|next_stepper %}
            <button type="submit" form="stepper" value="Submit">Finish</button>
        {% else %}
            <button type="submit" form="stepper" value="Submit">Next</button>
        {% endif %}
    {% endif %}
</form>