<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

   <title>User Journey</title>
 </head>
<body class="div_uj_parent">
<div class="div_uj_parent">
    <div class="div_uj_arrow">&lt</div>
    <div class="div_uj_1">1</div><div class="div_uj_login">Logiiin</div>
    <hr class="div_hr_defprof"><div class="div_uj_2">2</div><div class="div_uj_defprof">Define Profile</div>
    <hr class="div_hr_addevent"><div class="div_uj_3">3</div><div class="div_uj_addevent">Add Event</div>
    <div class="div_uj_arrow">&gt</div>
</div>
{% load filters %}
<p>&nbsp</p>
{% for x in stepperStages %}
<!--    <p>Current state: {{x.currentstate}}</p>-->
{% if x.currentstate <= 3 %}
    <span class="{{x.currentstate|circle_css_class}}">{{x.stagename}}</span>
{% elif x.currentstate <= 13 %}
    <span class="{{x.currentstate|text_css_class}}">{{x.stagename}}</span>
{% endif %}
    <span style="height:1px; width:100px;background:black"></span>
{% endfor %}

<!--<p>Hello World12</p>-->
</body>
</html>