

<div class="" style="background-color: #102f5c; color: white; padding: 20px 10px 20px 10px;; border-radius: 10px 10px 0px 0px; font-size: 20px;">
    <table style="width: 100%;">
        {% block buttonscolumnssize %}

        {% endblock %}
    <tr>
        <td>
            What would you have wished to be different?
        </td>
            {% block buttons %}
            {% endblock %}       
    </tr>
</table>

</div>
<div class="" style="border-radius: 0px 0px 10px 10px; border-width: 2px; border-style: solid; border-color: #102f5c; padding-bottom: 4px;">
    <div>
        <table style="width: 100%; border-collapse: collapse;">
            <col width="100px"/>
            <col width="*"/>
            <tr style="border-bottom-color: #102f5c; border-bottom-style: solid; border-bottom-width: 3px; line-height: 55px;">
                <td style="padding-left: 10px; padding-left: 10px;border-right-color: #102f5c;border-right-style: solid;border-right-width: 3px;">
                    <span class="" style="font-size: 22px; color: #ffbb5d;">What</span>
                </td>
                <td style="padding-right: 10px;">
                    <textarea class="" style="width: 100%; resize: none;"></textarea>

                    <!-- <textarea class="" style="width: 100%; resize: none;"></textarea> -->
                </td>
            </tr>
            <tr style="border-bottom-color: #102f5c; border-bottom-style: solid; border-bottom-width: 3px; line-height: 55px;">
                <td style="padding-left: 10px; padding-left: 10px;border-right-color: #102f5c;border-right-style: solid;border-right-width: 3px;">
                    <span class="" style="font-size: 22px; color: #ffbb5d;">What</span>
                </td>
                <td style="padding-right: 10px;">
                    <textarea class="" style="width: 100%; resize: none;"></textarea>

                    <!-- <textarea class="" style="width: 100%; resize: none;"></textarea> -->
                </td>
            </tr>
        </table>
    </div>      
</div>