<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>User Journey</title>
</head>

<body>

{% load filters %}
<form id="stepper" method="POST">{% csrf_token %}
<input type="hidden" id="currentStep" name="currentStep" value="{{ activeStepper }}">
                <input type="hidden" id="nextStep" name="nextStep" value="{{ activeStepper|next_stepper}}">
    {% for step in stepper %}
        <div class="step">
            {% if activeStepper == forloop.counter %}
                <span class="stepCircle active">{{ step.id }}</span>
            {% elif activeStepper > forloop.counter %}
                <span class="stepCircle completed">{{ step.id }}</span>
            {% elif activeStepper < forloop.counter %}
                <span class="stepCircle blocked">{{ step.id }}</span>
            {%  endif %}
            <span class="stepLabel">{{ step.label }}</span>
        </div>
{#        <p>{{ activeStepper }}</p>#}
{#        <p>{{ forloop.counter }}</p>#}
{#        {% if stage.currentstate <= 3 %}#}
{#            <span class="{{ stage.currentstate|circle_css_class }}">{{ stage.stagename }}</span>#}
{#        {% elif stage.currentstate <= 13 %}#}
{#            <span class="{{ stage.currentstate|text_css_class }}">{{ stage.stagename }}</span>#}
{#        {% endif %}#}
{#        <span style="height:1px; width:100px;background:black"></span>#}
    {% endfor %}

    <button type="submit" form="stepper" value="Submit">next stage</button>

</form>


<!--<p>Hello World12</p>-->
</body>
</html>